<%= locals.updated %> 
<% if (locals.postState === 'updated') { %>
     <p>The book with id of  <%= id %> has been updated</p>
<% } else if (locals.postState === 'created') { %>
    <p>A new book with id <%= id %> has been created</p>
<% } else { %>
    <p>This book's id is <%= id %></p>
<% } %> 


<%- include('../partials/book', {book: book, bookAuthor: bookAuthor}); %>
